{% extends "guides/base.html" %}

{% block title %}Attacking Pokémon - {{ super() }}{% endblock %}

{% block description %}Guide for selecting an attacking Pokémon for your deck.{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h2>Attacking Pokémon Guide</h2>

            <h3>Overview</h3>
            <p>There isn't one thing that makes a single Pokémon the best attacker in the game.
            As with all of the elements of the card game, it is about balance and trade-offs.
            This guide will walk you through how to make decisions about selecting your
            primary and backup attackers when building a deck. This will also highlight
            some of the popular attackers in the current Standard format.</p>

            <h3>Attack Damage</h3>
            <p>There are a couple important tiers of damage for common Pokémon HP. When
            considering attack damage it's important to keep these in mind as far as
            how many attacks will it take to reach these tiers:</p>

            <dl class="dl-horizontal">
                <dt>130 damage</dt><dd>High HP Basic Non-EX Pokémon and Low HP EX Pokémon (particularly Shaymin-EX)</dd>
                <dt>180 damage</dt><dd>Basic EX/GX Pokémon and High HP Basic Non-EX Pokémon with a Fighting Fury Belt</dd>
                <dt>220 damage</dt><dd>Mega EX Pokémon, Stage 1 GX Pokémon, and Basic EX/GX Pokémon with a Fighting Fury Belt</dd>
            </dl>

            <p>From these numbers you can see that an attack which does 90 damage
            can only one-hit KO (OHKO) lower HP non-EX Pokémon but can two hit both
            high HP non-EX and many EX Pokémon. On the other hand an attack which
            does 80 damage will miss out on the two hit KO for some basic EX/GX Pokémon.
            Attaching a {{ 'B01B3LF0WW'|affiliate_link('Fighting Fury Belt (BREAKPoint)', page='detail') }} can help
            with the math by adding an extra 10 damage to each attack. Likewise
            the supporters {{ 'B01MSEWOUZ'|affiliate_link('Professor Kukui (Sun &amp; Moon)', page='detail') }}
            or {{ 'B016VKBYXE'|affiliate_link('Giovanni\'s Scheme (BREAKthrough)', page='detail') }}
            can help by adding an additional 20 damage, remembering that you can
            only play a single supporter per turn.

            <p>Some of the most popular attacking Pokémon currently are those which have
            attacks which can ramp up their damage based on the amount of energy being
            used, the number or type of benched Pokémon, or the amount of damage on
            the Pokémon in play. Some great examples of these are
            {% set examples = [
                ('B016VKC294', 'Mega Mewtwo-EX (BREAKhrough)'),
                ('B00S5LLYK6', 'Mega Gardevoir-EX (Primal Clash)'),
                ('B01IUAJX0O', 'Mega Gardevoir-EX (Steam Siege)'),
                ('B00WTGLVFQ', 'Mega Rayquaza-EX (Roaring Skies)'),
                ('B00IDLSI7K', 'Yveltal-EX (XY)'),
                ('B01B3LDPTC', 'Darkrai-EX (BREAKPoint)'),
                ('B016VKAT2Q', 'Xerneas (BREAKhrough)'),
                ('B01NAXAIYK', 'Tarous GX (Sun &amp; Moon)'),
                ('B0128VBP2U', 'Gyarados (Ancient Origins)'),
                ('B0128V9RCK', 'Vespiquen (Ancient Origins)'),
            ] %}

            {{ list_examples(examples) }}.</p>

            {{ display_examples(examples) }}

            <h3>Attack Cost</h3>
            <p>You can only attach a single energy per turn so the lower the attack cost
            the better. Attacks requiring more than two attachments will certainly require
            playing some form of energy acceleration. Attacks which require two colorless
            energy, either alone or with another single energy, can take advantage
            of {{ 'B01M34NW7C'|affiliate_link('Double Colorless Energy', page='detail') }}
            to reduce the number of turns required to attack.
            That isn't too say that attacks that cost three or more attachments
            are completely unusable. Many players have found success playing
            with {{ 'B01IUAJLEC'|affiliate_link('Volcanion-EX (Steam Siege)', page='detail') }}
            which has a three energy attack.</p>

            {{ display_examples([('B01IUAJLEC', 'Volcanion-EX (Steam Siege)'), ]) }}

            <p>Lower energy attacks also allow for using powerful healing cards
            like {{ 'B01B3LF932'|affiliate_link('Max Potion', page='detail') }} which will discard your
            energy. {{ 'B01B3LF4SC'|affiliate_link('Greninja (BREAKPoint)', page='detail') }} uses
            this strategy because the attack also allows for bringing the energy back
            into the hand meaning you can heal without discarding anything.</p>

            {{ display_examples([('B01B3LF4SC', 'Greninja (BREAKPoint)'), ('B01B3LF6JO', 'Greninja BREAK (BREAKPoint)'), ]) }}

            <h3>Evolution Stage</h3>
            <p>Most lower stage, non-EX Pokémon have less than 100 HP and can be easily knocked out.
            Also as with the energy cost, each evolution stage requires another turn before
            you can get your main attacks going. Mega evolutions also will end your turn
            unless you have a spirit link attached, which is another card that you'll need
            in your deck and have to find quickly. At the same time, these evolved Pokémon
            tend to be very strong.</p>

            {% set examples = [
                ('B06VSRYKJK', 'Rare Candy'),
                ('B01BZE9SDE', 'Evosoda'),
                ('B06X8WWHCQ', 'Timer Ball (Sun &amp; Moon)'),
                ('B00WTGKYS6', 'Wally (Roaring Skies)'),
            ] %}

            <p>There are a few cards which can help support using evolved Pokémon such
            as {{ list_examples(examples) }}.</p>

            {{ display_examples(examples) }}

            {% set examples = [
                ('B0128V9RCK', 'Vespiquen (Ancient Origins)'),
                ('B016VKA4FI', 'Zoroark (BREAKthrough)'),
                ('B01B3LFL76', 'Zebstrika (BREAKPoint)'),
                ('B01BZE9GDQ', 'Raichu (Generations)'),
            ] %}

            <p>For budget deck builders, a number of decks have been built around
            stage one attackers like {{ list_examples(examples) }}.
            Since they aren't ultra rare cards they
            are cheap and easy to find. In the game since they only give up
            one prize and only require a single double colorless energy to attach,
            they are easy to get setup. While they don't all hit for a lot of
            damage, they can win games if you can keep recycling attackers
            and energy.</p>

            {{ display_examples(examples) }}

            <p>Basic Pokémon on the other hand can make use of cards like
            {{ 'B01B3LF0WW'|affiliate_link('Fighting Fury Belt (BREAKPoint)', page='detail') }} to
            increase their HP and attack. Also they can use
            {{ 'B01B3LF6TE'|affiliate_link('Max Elixir (BREAKPoint)', page='detail') }} to
            get energy attached quickly.</p>

            <h3>Retreat Cost</h3>
            <p>Retreat cost isn't necessarily a huge consideration when picking an
            attacker for your deck but having a free retreat can be a big advantage
            since it can allow you to switch out attackers to protect Pokémon which
            have damage counters on them. When playing attackers with high retreat
            cost you need to be careful when they are put on the bench since your
            opponent could draw them up to the active and stall you while you have
            to attach energy to attack. Decks with higher retreat cost Pokémon
            need to play more switching cards to avoid this problem which leaves
            less space for other cards.</p>

            <h3>HP</h3>
            <p>Obviously more HP is better when it comes to Pokémon. Looking back
            at those damage numbers, if you are using a Pokémon which is just outside
            those normal ranges then it can make it more difficult for your
            opponent to OHKO your attackers. Higher HP EX Pokémon like
            {{ 'B01EU44NFO'|affiliate_link('Zygarde-EX (Fates Collide)', page='detail') }} with
            190 HP or the extreme {{ 'B00S5LMC8O'|affiliate_link('Wailord-EX (Primal Clash)', page='detail') }}
            with 250 HP are a couple examples outside the normal 170-180 HP range
            for EX. The recent stage two {{ 'B06W9F63JH'|affiliate_link('Decidueye-GX (Sun &amp; Moon)', page='detail') }}
            and {{ 'B06VSQSKSQ'|affiliate_link('Solgaleo-GX (Sun &amp; Moon)', page='detail') }} with 250 HP
            are also outside the HP normally seen even on Mega EX cards.</p>

            {% set examples = [
                ('B01EU44NFO', 'Zygarde-EX (Fates Collide)'),
                ('B00S5LMC8O', 'Wailord-EX (Primal Clash)'),
                ('B06W9F63JH', 'Decidueye-GX (Sun &amp; Moon)'),
                ('B06VSQSKSQ', 'Solgaleo-GX (Sun &amp; Moon)'),
            ] %}

            {{ display_examples(examples) }}

            <h3>Weakness/Resistance</h3>
            <p>Weakness doubles the amount of damage taken which easily turns
            attacks into OHKOs. Picking an attacker which hits for weakness on
            popular Pokémon can make some match ups very easy. On the other
            hand, when trying to decide about using a new Pokémon it's worth
            considering which popular Pokémon will hit it for weakness. With
            the popularity of dark decks like Darkrai-EX and Yvental-EX that
            is not an ideal weakness to have but it's great for cards like
            Mega Gardevoir-EX which have resistence.
            {{ 'B01B3LDU0Q'|affiliate_link('Mega Scizor-EX (BREAKPoint)', page='detail') }} and
            {{ 'B0128VE1I0'|affiliate_link('Mega Sceptile-EX (Ancient Origins)', page='detail') }}
            are strong Pokémon with efficient attacks but have declined in popularity
            with the rise of {{ 'B01IUAJLEC'|affiliate_link('Volcanion-EX (Steam Siege)', page='detail') }}
            which hits them both for weakness.</p>

            <p>The popularity of certain Pokémon or certain types of Pokémon
            ebbs and flows with players trying to counter popular decks and with
            the release of new sets. Weakness may or may might be a deciding factor
            on the deck you want to play but it's something that you'll need to
            think about and account for when you play.</p>

            <h3>Summary</h3>
            <p>There is a lot to take into consideration when picking an attacking
            Pokémon for your deck. There is no high HP, single prize basic Pokémon
            with attacks for 100+ damage for a single energy and has free retreat.
            You should pick something that matches your play style whether that's
            setting up consistent two hit KOs or swinging for big OHKOs.
            Picking your attacker will inform the rest of the cards that you'll
            need in your deck for setting up its attack and continuing throughout
            the game.
        </div>
    </div>

</section>
{% endblock %}
