/* http://www.colourlovers.com/palette/132637/Odd_but_trendy */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

#wrapper {
    flex: 1;
    margin-bottom: 30px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #E0EFF1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: solid 1px #ccc;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 80px;
}

.sidebar-nav {
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li a {
    display: block;
    color: #777;
    text-decoration: none;
}

.sidebar-nav li a:focus,
.sidebar-nav li a:hover {
    color: #fff;
    background-color: #7DB4B5;
    text-decoration: underline;
}

.sidebar-nav > .active > a,
.sidebar-nav > .active > a:focus,
.sidebar-nav > .active > a:hover {
    background-color: #7DB4B5;
    color: #fff;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    color: #fff;
    background-color: #680148;
    box-shadow: none;
}

.sidebar-nav li.open > a,
.sidebar-nav li.open > a:focus,
.sidebar-nav li.open > a:hover {
    background-color: #7DB4B5;
    color: #fff;
}

.sidebar-nav .dropdown-menu li a,
.sidebar-nav .dropdown-menu li.active a,
.sidebar-nav .dropdown-menu li a:focus,
.sidebar-nav .dropdown-menu li a:hover {
    background-color: #680148;
    color: #fff;
}

.sidebar-nav .dropdown-menu li a:focus,
.sidebar-nav .dropdown-menu li a:hover {
    background-color: #E780C7;
}

.sidebar-nav .dropdown-menu li.active a:before {
    content: ">";
}

.sidebar-header {
    height: 200px;
    background-color: #fff;
    padding-top: 55px;
}

.sidebar-header a {
    padding: 0 5px;
    display: inline-block;
}

.sidebar-header a:hover,
.sidebar-header a:focus {
    background-color: #fff;
}

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger .hamb-top,
.hamburger .hamb-middle,
.hamburger .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger .hamb-top,
.hamburger .hamb-middle,
.hamburger .hamb-bottom {
    background-color: #680148;
}

.hamburger .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;

}

.hamburger.is-open {
    margin-left: -47px;
    z-index: 1001;
}

@media screen and (max-width: 767px) {
    #wrapper.toggled {
        padding-left: 0;
    }

    #wrapper #sidebar-wrapper,
    #wrapper.toggled #sidebar-wrapper {
        width: auto;
        height: auto;
        left: 0;
        margin-left: 0;
    }

    .sidebar-nav {
        position: static;
        width: auto;
    }

    .sidebar-header {
        padding: 10px 0;
        height: 157px;
    }

    #page-content-wrapper {
        padding-top: 177px;
    }

    .hamburger {
        display: none;
    }
}

footer {
    width: 100%;
    color: #fff;
    background-color: #680148;
    z-index: 1001;
}

footer .container-fluid {
    margin: 20px auto;
}

footer a {
    color: #fff;
    margin-left: 10px;
}

footer a:focus,
footer a:hover {
    color: #E0EFF1;
}

.btn-cta {
    font-size: 1.25em;
    padding: 14px 16px;
    color: #fff;
    background-color: #680148;
    border-color: #e7e7e7;
}

.btn-cta:hover {
    color: #ccc;
}

a.affiliate > img {
    padding: 5px;
}

#home .hamburger.is-closed .hamb-top,
#home .hamburger.is-closed .hamb-middle,
#home .hamburger.is-closed .hamb-bottom {
    background-color: #fff;
}


#home #page-content-wrapper {
    padding-top: 0;
}

#home .header-image {
    height: 730px;
    text-align: center;
    background: url('background.jpg');
    background-size: cover;
    position: relative;
}

#home .header-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#home .header-image .overlay {
    position: relative;
    padding: 10% 0;
    color: #fff;
    z-index: 1;
}


#home .how-it-works h3 {
    margin-top: 20px;
}

#home #wrapper {
    margin-bottom: 0;
}

#home .get-started {
    margin: 30px 0 0;
    padding: 30px 0;
    background-color: #E0EFF1;
}

@media screen and (max-width: 767px) {
    #home .header-image .overlay h1 img {
        display: none;
    }

    #home #page-content-wrapper {
        padding-top: 157px;
    }

    #home .get-started .btn-cta {
        margin-top: 15px;
    }
}

.results {
    padding-bottom: 56px;
}

@media screen and (max-width: 767px) {
    .results {
        padding-bottom: 210px;
    }
}

.results .navbar-fixed-bottom .navbar-text {
    font-size: 1.25em;
}

.results .thumbnail.card img {
    height: 210px;
}

.results .thumbnail.card.missing {
    background: #eee;
}

.results .thumbnail.card.missing img {
    opacity: 0.75;
}

.thumbnail .caption p {
    font-size: 0.75em;
    margin: 0;
}

.thumbnail .caption form {
    margin: 5px 0 0;
}

.thumbnail .caption form .control-label {
    padding-top: 0;
}

.results .social {
    padding: 19px 5px 19px 0;
    display: inline-block;
}
