/* http://www.colourlovers.com/palette/132637/Odd_but_trendy */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body .main {
    flex: 1;
    margin-bottom: 30px;
}

header .navbar-default {
    background-color: #E0EFF1;
}

header .navbar-default .navbar-nav > .active > a,
header .navbar-default .navbar-nav > .active > a:focus,
header .navbar-default .navbar-nav > .active > a:hover {
    background-color: #7DB4B5;
    color: #fff;
}

footer {
    width: 100%;
    color: #fff;
    background-color: #680148;
}

footer .container {
    margin: 20px auto;
}

.btn-cta {
    font-size: 1.25em;
    padding: 14px 16px;
    color: #fff;
    background-color: #680148;
    border-color: #e7e7e7;
}

.btn-cta:hover {
    color: #ccc;
}

#home header .navbar {
    margin-bottom: 0;
}

#home .header-image {
    height: 730px;
    text-align: center;
    background: url('background.jpg');
    background-size: cover;
    position: relative;
}

#home .header-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#home .header-image .overlay {
    position: relative;
    padding: 20% 0;
    color: #fff;
    z-index: 1;
}


#home .how-it-works h3 {
    margin-top: 20px;
}

#home .main {
    margin-bottom: 0;
}

#home .get-started {
    margin: 30px 0 0;
    padding: 30px 0;
    background-color: #E0EFF1;
}

#home .get-started .btn-cta {
    margin-top: 15px;
}

.results {
    padding-bottom: 56px;
}

@media screen and (max-width: 767px) {
    .results {
        padding-bottom: 158px;
    }
}

.results .navbar-fixed-bottom .navbar-text {
    font-size: 1.25em;
}

.results .thumbnail.card > img {
    height: 210px;
}

.thumbnail .caption p {
    font-size: 0.75em;
    margin: 0;
}

.thumbnail .caption form {
    margin: 5px 0 0;
}

.thumbnail .caption form .control-label {
    padding-top: 0;
}
