{% extends "base.html" %}

{% set nav_hidden = True %}

{% block body_id %}home{% endblock %}

{% block content %}
<div class="header-image">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="overlay">
                    <h1><img src="/static/splash-logo.png" alt="Professor Dogwood Logo"></h1>
                    <p class="lead">The easiest way to price and buy your favorite Pokémon Trading Card Game deck</p>
                    <p><a class="btn btn-cta" href="/deckbuilder/">Upload Your Deck</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container how-it-works">
    <div class="page-header text-center">
        <h2>How It Works</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Create a Deck</h3>
            <p>Export your favorite deck from Pokémon Trading Card Game Online (PTCGO) or copy one
            of the tournament winning lists from the
            <a href="http://www.pokemon.com/us/play-pokemon/pokemon-events/championship-series-event-results/">Pokémon Championship Series Events</a>.</p>

            <h3><span class="glyphicon glyphicon-paste" aria-hidden="true"></span> Upload the Deck</h3>
            <p>Take your deck list exported in the equivalent PTCGO list format and paste it into
            <a href="/deckbuilder/">our uploader form</a>. We parse the list and find the price of
            all the cards for you.</p>

            <h3><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Adjust the Cards</h3>
            <p>Before purchasing the cards you can adjust the numbers to account for cards you already
            own. With those adjustments you can see the cost of only the cards you need to complete
            the deck.</p>
        </div>
        <div class="hidden-xs col-md-6">
            <img src="/static/ptcgo.png" alt="PTCGO Expor" class="img-rounded img-responsive center-block" class="text-center">
        </div>
    </div>
</div>
<div class="get-started">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="lead">Time to make your online deck list a reality</span> <a class="btn btn-cta" href="/deckbuilder/">Get Started</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
